@import "../../styles/mixin";
@import "../../styles/theme.scss";
@import "~taro-ui/dist/style/index.scss";

.sub-header {
  display: inline-block;

  .sub-header-text {
    display: block;
    width: inherit;
    text-align: left;
    margin: 30px 0;
    font-size: 36px;

    &:before {
      content: "";
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      width: 5px;
      height: 30px;
      background-color: $color-brand;
      box-shadow: 0 0.14933rem 0.256rem 0 rgba(97, 144, 232, 0.2);
      border-radius: 1px;
    }
  }
}
