@import '../../styles/mixin';
@import '../../styles/theme';

.nav-list {
  @include fj(center);
  flex-wrap: wrap;
  padding-top: 20px;

  .nav-item-container {
    width: 25%;
    margin: 0 0 0 0;
    position: relative;

    .nav-item {
      width: 100%;
      text-align: center;
    }
    .nav-item:nth-child(n+2) {
      width: 95%;
    }
    .nav-bar {
      content: "";
      display: inline-block;
      width: 5px;
      height: 60%;
      background-color: $color-brand;
      box-shadow: 0 0.14933rem 0.256rem 0 rgba(97, 144, 232, 0.2);
      border-radius: 5px;
      position: absolute;
      top: 20%;
    }
    .nav-text {
      display: block;
      margin-left: 15px;
      font-size: 26px;
      line-height: 30px;
    }
    .nav-text:first-child {
      font-size: 38px;
    }
    .nav-text:last-child {
      margin-top: 10px;
    }
  }
}
//.banner-description {
//  &__item {
//    height: 100px;
//    margin-left: 10px;
//
//  }
//  view:nth-child(n+2)::before {
//    content: "";
//    display: inline-block;
//    margin-left: 10px;
//    margin-right: 10px;
//    width: 5px;
//    height: 30px;
//    background-color: $color-brand;
//    box-shadow: 0 0.14933rem 0.256rem 0 rgba(97, 144, 232, 0.2);
//    border-radius: 1px;
//  }
//
//  &__text {
//    width: 100%;
//  }
//}
