@import '../../styles/mixin';
@import "~taro-ui/dist/style/index.scss";

.swiper-container {
  width: 100%;
  min-height: 450px;
}

.swiper-home {
  width: 100%;
  min-height: 1000px;
  image,
  img {}
}

.swiper-case {
  width: 100%;
  min-height: 450px;
}
