@import '../../styles/mixin';

.swiper-container {
  width: 100%;
  min-height: 450px;
}

.swiper-home {
  width: 100%;
  image,
  img {}
}

.swiper-case {
  width: 100%;
  min-height: 450px;
}

.swiper-about-us {
  width: 100%;
  min-height: 450px;
}
